$lime-green:hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

$dark-bg: hsl(230, 17%, 14%);
$dark-bg-top: hsl(232, 19%, 15%);
$dark-card: hsl(228, 28%, 20%);
$dark-text: hsl(228, 34%, 66%);
$dark-text-2:#fff;